{% extends "mongonaut/base.html" %}
{% load mongonaut_tags %}

{% block breadcrumbs %}
<li class="breadcrumb-item active"><a href="{% url "index" %}">Mongonaut</a></li>
<li class="breadcrumb-item active"><a href="{% url "document_list" app_label document_name %}">{{ document_name }}s</a></li>
<li class="breadcrumb-item active"><a href="">{{ document.id }}</a></li>
{% endblock %}

{% block content %}


    <div class="col-sm-12" id="document-actions">
        <h1>{{ document_name }} Detail</h1>

        <p>
                {% if has_edit_permission %}            
                    <a class="btn btn-primary" style="margin-right:5px"  href="{% url "document_detail_edit_form" app_label document_name document.id %}">
                        <i class="icon-pencil icon-white"></i> Edit 
                    </a>
                            
                {% endif %}
                {% if has_delete_permission %}                        
                    <a id="action_delete"  class="btn btn-danger" href="#"><i class="icon-trash icon-white"></i> Delete</a>
                {% endif %}
        </p>
        {% include "mongonaut/includes/_delete_warning.html" %}
    </div>

<div style="overflow: auto;">
    <div class="col-sm-12">
        <table class="table table-bordered table-striped">
            <!-- <caption>Content</caption> -->
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>                    
                </tr>
            </thead>
            <tbody>            
            {% for key in keys %}
                <tr>
                    <td>{{ key}}</td>
                    <td>{% get_document_value document key %}</td>                    
                </tr>
            {% endfor %}
            </tbody>            
        </table>
    </div>
    <div class="col-sm-12">
            {% if list_fields %}
                <table class="table table-bordered table-striped">
                    <caption>List Fields</caption>
                    <thead>
                        <tr>
                            <th>Field name</th>
                            <th>Value</th>                    
                        </tr>
                    </thead>
                    <tbody>            
                    {% for key in list_fields %}
                        <tr>
                            <td>{{ key}}</td>
                            <td>{% get_document_value document key %}</td>                    
                        </tr>
                    {% endfor %}
                    </tbody>            
                </table>
            {% endif %}
            {% if embedded_documents %}
                <table class="table table-bordered table-striped">
                    <caption>Embedded Documents</caption>
                    <thead>
                        <tr>
                            <th>Document Name</th>
                            <th>Value</th>                    
                        </tr>
                    </thead>
                    <tbody>            
                    {% for key in embedded_documents %}
                        <tr>
                            <td>{{ key}}</td>
                            <td>{% get_document_value document key %}</td>                    
                        </tr>
                    {% endfor %}
                    </tbody>            
                </table>
            {% endif %}            
        </div>        
    </div>
</div>    

{% endblock %}

{% block extrajs %}
<form method="post" id="delete_form" action="{% url "document_delete" app_label document_name document.id %}">
{% csrf_token %}
</form>
{% endblock %}

