{% extends "mongonaut/base.html" %}
{% load mongonaut_tags %}

{% block breadcrumbs %}
<li><a href="{% url index %}">Mongonaut</a> <span class="divider">/</span></li>
<li><a href="{% url document_list app_label document_name %}">{{ document_name }}s</a> <span class="divider">/</span></li>
<li><a href="">{{ document_name }}</a> <a href="">{{ document.id }}</a></li>
{% endblock %}

{% block content %}

<h1>Mongonaut</h1>

<h2>{{ document_name }} Detail</h2>

<div class="row">
    <div class="span16">
        <table class="bordered-table zebra-striped">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>                    
                </tr>
            </thead>
            {% for key in keys %}
                <tr>
                    <td>{{ key}}</td>
                    <td>{% get_document_value document key %}</td>                    
                </tr>
            {% endfor %}
        </table>
    </div>
</div>    

{% endblock %}
