{% extends "base.html" %}
{% load mongonaut_tags %}

{% block content %}

<h1>{{ document_name }} List</h1>

<table class="bordered-table zebra-striped">
    <thead>
        <tr>
            {% for key in keys %}
                <th>{{ key }}</th>
            {% endfor %}
        </tr>
    </thead>
    {% for obj in object_list %}
        <tr>
            {% for key in keys %}
                <td>{% get_document_value obj key %}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>    

{% endblock %}